@import "./global.css";

.pre-loader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #070707;
  }
  
  .pre-loader:before {
    content: "LOADING...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.1);
  }
  
  .pre-loader__counter {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e0e0e0;
    font-size: 17.5rem;
    font-weight: 900;
    z-index: 1;
  }
  .pre-loader__counter:after {
    content: "%";
    font-size: 5rem;
    font-weight: 900;
  }